 {% load static %}
<!-- Banner Area Start -->
<div class="banner-area style-three pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-banner mb-lm-30px">
                    <img alt="" src="{% static 'images/banner/8.webp' %}">
                    <div class="banner-content nth-child-3">
                        <h3 class="title">Smart Watch For <br>
                            Your Hand</h3>
                        <span class="category">From $69.00</span>
                        <a class="shop-link" href="shop-left-sidebar.html">Shop Now <i aria-hidden="true"
                                                                                       class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-banner">
                    <img alt="" src="{% static 'images/banner/9.webp' %}">
                    <div class="banner-content nth-child-2">
                        <h3 class="title">Smart Watch For <br>
                            Your Hand</h3>
                        <span class="category">From $95.00</span>
                        <a class="shop-link" href="shop-left-sidebar.html">Shop Now <i aria-hidden="true"
                                                                                       class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End --