{% load static %}
<!-- Fashion Area Start -->
<div class="fashion-area" data-bg-image="assets/images/fashion/fashion-bg.webp' %}">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 text-center">
                <h2 class="title"><span>Smart Fashion</span> With Smart Devices </h2>
                <a class="btn btn-primary text-capitalize m-auto" href="shop-left-sidebar.html">Shop All Devices</a>
            </div>
        </div>
    </div>
</div>
<!-- Fashion Area End -->