{% load static %}
<!-- Product Area Start -->
<div class="product-area pb-100px">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">New Products</h2>
                    <p>There are many variations of passages of Lorem Ipsum available</p>
                </div>
            </div>
        </div>
        <!-- Section Title & Tab End -->
        <div class="row">
            <div class="col">
                <div class="row mb-n-30px">
                    <!--product loop-->
                    {% for product in products%}
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                        <!-- Single Prodect -->
                        <div class="product">
                                    <span class="badges">
                                        <span class="new">New</span>
                                    </span>
                            <div class="thumb">
                                <a class="image" href="/product/item/{{product.id}}/">
                                    <img class="product-thumb" alt="{{product.item }}"
                                         src="{{product.image}}"


                                    />
                                    <img alt="{{product.item }}"
                                         class="hover-image" src="{{product.image }}"
                                         style=" max-height: 270px; object-fit: contain; height: auto;"/>
                                </a>
                            </div>
                            <div class="content">
                                <span class="category" style="padding-top:1rem;">{{product.category.categoryName}}</span>
                                <h5 class="title"><a href="/product/item/{{product.id}}/">{{product.item}}</a>
                                </h5>
                                <span class="price">
                                            <span class="new">₹ {{product.price}}</span>
                                        </span>
                            </div>
                            <div class="actions">
                                <a class="butbtnprodindex"
                                   href="/product/item/{{product.id}}/">BUY</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--product loop end-->
                </div>
            </div>
        </div>
    </div>
</div>