{% extends 'seller/components/navbar.html' %}
{% block title %} Category-Dashboard {% endblock %}
{% block content %}
{% load static %}

<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Categories</h1>

        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-success float-end m-2" data-bs-target="#addSubcategoryModal" data-bs-toggle="modal"
                        type="button ">
                    <i class="fa-solid fa-square-plus"></i>
                    Add Sub Category
                </button>

                <button class="btn btn-primary float-end m-2" data-bs-target="#addcategoryModal" data-bs-toggle="modal"
                        type="button">
                    <i class="fa-solid fa-square-plus"></i>
                    Add Category
                </button>

                <!-- Modal Add category -->
                <div aria-hidden="true" aria-labelledby="addcategoryModalLabel" class="modal fade rounded"
                     id="addcategoryModal" tabindex="-1">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content">
                            <form action="{% url 'selleraddcategory' %}" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h1 class="modal-title text-dark" id="addcategoryModalLabel">Add Category</h1>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Category</label>
                                                <input class="form-control" name="addcategoryField" placeholder="Insert category Name"
                                                       required type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close
                                    </button>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal Add Subcategory -->
                <div aria-hidden="true" aria-labelledby="addSubcategoryModal" class="modal fade rounded"
                     id="addSubcategoryModal" tabindex="-1">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content" style="border-radius: 10px;">
                            <form action="{% url 'selleraddsubcategory' %}" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h1 class="modal-title text-dark" id="addsubcategoryModalLabel">Add subcategory</h1>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Select Category</label>
                                                <select aria-label="Default select example" class="form-select" id="pickCategory"
                                                        name="category_name" required>
                                                    <option disabled selected value="selecteddisable">Open this Category
                                                        select menu
                                                    </option>
                                                    {% for data in categorylist%}
                                                    <option value="{{data.id}}">{{data.categoryName}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Sub Category</label>
                                                <input class="form-control" id="subcategoryInput" name="subcategory"
                                                       placeholder="Insert subcategory Name"
                                                       required type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close
                                    </button>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Category Table   -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Categoies</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center mb-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Added On</th>
                                    <th>Updated On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in categorylist %}
                                <tr>
                                    <td>{{data.categoryName}}</td>
                                    <td>{{data.createdOn}}</td>
                                    <td>{{data.updatedOn}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-3 col-sm-12">
                                                <div class="form-inline justify-content-center">
                                                    <div class="form-group mb-2">
                                                        <form action="{% url 'sellerdeletecategory' %}" method="post">
                                                            {% csrf_token %}

                                                            <a class="btn btn-success float-right m-2" data-bs-target="#editcategorybtn{{data.id }}"
                                                               data-bs-toggle="modal"
                                                               href="#">
                                                                <i class="fa-solid fa-pen"></i></a>

                                                            <input name="category_name" type="hidden"
                                                                   value="{{data.id}}">
                                                            <button class="btn btn-danger float-left m-2" type="submit">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <!-- edit category modal-->
                                <div aria-hidden="true" aria-labelledby="editcategorybtn{{ data.id }}" class="modal fade rounded"
                                     id="editcategorybtn{{ data.id }}" tabindex="-1">
                                    <div class="modal-dialog  modal-dialog-centered">
                                        <div class="modal-content" style="border-radius: 10px;">
                                            <form action="{% url 'sellerupdateCategory' data.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h1 class="modal-title text-dark"
                                                        id="editcategorybtnLabel{{ data.id }}"> Category</h1>
                                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                            type="button"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label">Update Category
                                                                    Name</label>
                                                                <input class="form-control" name="updatecategory"
                                                                       type="text"
                                                                       value="{{ data.categoryName }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                            type="button">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subcategory Table   -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Sub Categoies</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center mb-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Sub Category</th>
                                    <th>Main Category</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subdata in subcategorylist %}
                                <tr>
                                    <td>{{subdata.subcatgName}}</td>
                                    <td>{{subdata.category}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-6">
                                                <a class="btn btn-success float-right" data-bs-target="#editsubcategorybtn{{ subdata.id }}" data-bs-toggle="modal"
                                                   href="#">
                                                    <i class="fa-solid fa-pen"></i></a>
                                            </div>
                                            <div class="col-6">
                                                <form action="{% url 'sellerdeletesubcategory' %}" method="post">
                                                    <!--                                                    {% csrf_token %}-->
                                                    <input name="subcategoryid" type="hidden" value="{{subdata.id}}">
                                                    <button class="btn btn-danger float-left" type="submit"><i
                                                            class="fa-solid fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>

                                        </div>

                                    </td>
                                </tr>
                                <!--Edit SUbCategory Modal-->
                                <div aria-hidden="true" aria-labelledby="editsubcategorybtn{{ data.id }}" class="modal fade rounded"
                                     id="editsubcategorybtn{{ subdata.id }}" tabindex="-1">
                                    <div class="modal-dialog  modal-dialog-centered">
                                        <div class="modal-content" style="border-radius: 10px;">
                                            <form action="{% url 'sellerupdatesubCategory' subdata.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h1 class="modal-title text-dark"
                                                        id="editsubcategorybtnLabel{{ data.id }}">Sub Category</h1>
                                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                            type="button"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <labelclass
                                                                ="form-label">Category
                                                                Name</label>
                                                                <input class="form-control" disabled
                                                                       name="categoryName"
                                                                       type="text" value="{{ subdata.category}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Update Sub
                                                                    Category</label>
                                                                <input class="form-control" name="subcategoryname"
                                                                       required
                                                                       type="text"
                                                                       value="{{ subdata.subcatgName}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                            type="button">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}