{% extends 'seller/components/navbar.html' %}
{% block title %} Invoices {% endblock %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Invoices</h1>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover text-center mb-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><i class="fa-solid fa-boxes-packing text-primary"></i><span class="font-weight-bold"> Inv-0001</span></td>
                            <td class="text-danger">500rs</td>
                            <td>12 jan 2023</td>
                            <td>Guwahati ,781001</td>
                            <td><i class="fa-solid fa-truck text-success"></i> Delivered</td>
                            <td><a href="#" class="btn btn-success">View</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}

