{% extends 'seller/components/navbar.html' %}
{% block title %} Products-Dashboard {% endblock %}
{% block content %}
{% load static %}

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Products</h1>

        <div class="row m-2">
            <div class="col-12">
                <button class="btn btn-primary float-right" data-bs-target="#addproductsModal" data-bs-toggle="modal"
                        type="button">
                    <i class="fa-solid fa-square-plus"></i>
                    Add Products
                </button>

                <!-- add Product Modal-->
                <div aria-hidden="true" aria-labelledby="addproductModalLabel" class="modal fade rounded"
                     id="addproductsModal" tabindex="-1">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content" style="border-radius: 10px;">
                            <form action="{% url 'selleraddproducts' %}" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h1 class="modal-title text-dark" id="addproductModalLabel">Add New Product</h1>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="ProductSku">SKU:</label>
                                                <button class="btn btn-primary float-end m-2" id="generate-sku"
                                                        type="button">GenerateSKU
                                                </button>
                                                <input class="form-control" id="ProductSku" name="sku" placeholder="SKU-####"
                                                       required style="border-radius: 10px;" type="text">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="ProductName">ProductName</label>
                                                <input class="form-control" id="productname" name="itemname" placeholder="Name"
                                                       required style="border-radius: 10px;" type="text">
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="Price">Price</label>
                                                        <input class="form-control" id="price" name="itemprice" placeholder="Price"
                                                               required step="0.01" type="number">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="Quantity">Quantity</label>
                                                        <input class="form-control" id="Quantity" name="itemqty"
                                                               placeholder="Quantity" required type="number">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="Category">Category</label>
                                                        <select aria-label="category" class="form-select" id="category"
                                                                name="itemcategory">
                                                            {% for data in categories %}
                                                                <option value="{{ data.id }}">{{ data.categoryName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="subCategory">subCategory</label>
                                                        <select aria-label="subcategory" class="form-select"
                                                                id="subCategory" name="itemsubcategory">
                                                            {% for data in subcategories %}
                                                                <option value="{{ data.id }}">{{ data.subcatgName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="About">About</label>
                                                <textarea class="form-control" id="about" name="itemabout"
                                                          required rows="3"></textarea>
                                                <small class="form-text text-muted">maximum 150 words | support
                                                    HTML </small>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="Description">Description</label>
                                                <textarea class="form-control" id="Description" name="itemdescription"
                                                          required rows="3"></textarea>
                                                <small class="form-text text-muted">maximum 500 words | support
                                                    HTML </small>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="ProductImage">Main Image</label>
                                                <input class="form-control" id="ProductImage" name="itemimg"
                                                       required type="file">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="ProductImage">Image 1</label>
                                                <input class="form-control"  name="itemimg1"
                                                       type="file">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="ProductImage">Image 2</label>
                                                <input class="form-control"  name="itemimg2"
                                                       type="file">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="ProductImage">Image 3</label>
                                                <input class="form-control" name="itemimg3"
                                                       type="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close
                                    </button>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center mb-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>image</th>
                                    <th>Item Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>category</th>
                                    <th>Active</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in productList %}
                                <tr>
                                    <td>
                                        <img alt="{{ data.product.item }}"
                                             class="avatar img-fluid rounded me-1" src="{{ data.image.url }}"/>
                                    </td>
                                    <td>{{ data.item }}</td>
                                    <td>{{ data..price }} ₹</td>
                                    <td>{{ data.quantity }}</td>
                                    <td>{{ data.category }}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-3 col-sm-12">
                                                <div class="form-inline justify-content-center">
                                                    <div class="form-group mb-2">
                                                        <form action="{% url 'sellerdeleteproduct' data.id %}"
                                                              method="post">
                                                            {% csrf_token %}

                                                            <button class="btn btn-success m-2" data-bs-target="#productData{{ data.id }}"
                                                                    data-bs-toggle="modal"
                                                                    type="button">
                                                                View
                                                            </button>
                                                            <button class="btn btn-success m-2" data-bs-target="#editProductmodal{{ data.id }}"
                                                                    data-bs-toggle="modal"
                                                                    type="button">
                                                                Edit
                                                            </button>
                                                            <input name="category_name" type="hidden"
                                                                   value="{{ data.id }}">
                                                            <button class="btn btn-danger" type="submit">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <!-- show product data modal-->
                                <div aria-hidden="true" aria-labelledby="productData{{ data.id }}Label" class="modal fade"
                                     data-bs-backdrop="static" data-bs-keyboard="false"
                                     id='productData{{ data.id }}' tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">
                                                    {{ data.SKU }}</h5>
                                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                        type="button"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6">
                                                        <img alt=""
                                                             class="itemdetailsmodalimg" src="{{ data.image.url }}">
                                                    </div>

                                                    <div class="col-12 col-sm-6">
                                                        <h3>{{ data.item }}</h3>
                                                        <span class="badge bg-primary">{{ data.category }}</span>
                                                        <span
                                                                class="badge bg-secondary">{{ data.subCategory }}</span>

                                                        <p>{{ data.product.about }}</p>

                                                        <div class="py-3">
                                                            <h3><strong>Description</strong></h3>
                                                            <div>
                                                                {% autoescape off %}
                                                                {{ data.product.description }}
                                                                {% endautoescape %}
                                                            </div>

                                                        </div>
                                                        <h4 class="price">price: <span
                                                                class="text-danger">${{ data.price }}</span>
                                                        </h4>
                                                        <h5>Quantity: <span>{{ data.quantity }}</span></h5>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  update product-->
                                <div aria-hidden="true" aria-labelledby="editProductmodal{{ data.id }}Label" class="modal fade rounded"
                                     id="editProductmodal{{ data.id }}" tabindex="-1">
                                    <div class="modal-dialog  modal-dialog-centered">
                                        <div class="modal-content" style="border-radius: 10px;">
                                            <form action="{% url 'sellerupdateproduct' data.id %}" enctype="multipart/form-data"
                                                  method="post">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h1 class="modal-title text-dark">Edit Product</h1>
                                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                            type="button"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="ProductSku">SKU:</label>
                                                                <input class="form-control"
                                                                       disabled
                                                                       style="border-radius: 10px;"
                                                                       type="text" value="{{ data.product.SKU }}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                       for="ProductName">ProductName</label>
                                                                <input class="form-control" name="itemname"
                                                                       placeholder="Name"
                                                                       required
                                                                       style="border-radius: 10px;" type="text"
                                                                       value="{{ data.item }}">
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label"
                                                                               for="Price">Price</label>
                                                                        <input class="form-control" name="itemprice"
                                                                               placeholder="Price"
                                                                               required
                                                                               step="0.01" type="number"
                                                                               value="{{ data.price }}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="Quantity">Quantity</label>
                                                                        <input class="form-control" name="itemqty"
                                                                               placeholder="Quantity"
                                                                               required
                                                                               type="number" value="{{ data.quantity }}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="Category">Category</label>
                                                                        <select aria-label="category"
                                                                                class="form-select"
                                                                                name="itemcategory">
                                                                            {% for data in categories %}
                                                                                <option value="{{ data.id }}">
                                                                                    {{ data.categoryName }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="subCategory">subCategory</label>
                                                                        <select aria-label="subcategory"
                                                                                class="form-select"
                                                                                name="itemsubcategory">
                                                                            {% for data in subcategories %}
                                                                                <option value="{{ data.id }}">
                                                                                    {{ data.subcatgName }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="About">About</label>
                                                                <textarea class="form-control"
                                                                          name="itemabout"
                                                                          required rows="3">{{ data.product.about }}</textarea>
                                                                <small class="form-text text-muted">maximum 150 words |
                                                                    support
                                                                    HTML </small>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                       for="Description">Description</label>
                                                                <textarea class="form-control" name="itemdescription"
                                                                          required
                                                                          rows="3">{{ data.product.description }}</textarea>
                                                                <small class="form-text text-muted">maximum 500 words |
                                                                    support
                                                                    HTML </small>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="ProductImage">Product
                                                                    Image</label>
                                                                <input class="form-control" name="itemimg" type="file">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                            type="button">Close
                                                    </button>
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}