{% extends 'Frontend/components/Main/base.html' %}
{% load static %}

{%block wrapper%}
<div class="main-wrapper">
    <!--Head-->
    {% include 'Frontend/components/common/head.html'%}
    <!--head end-->

    <!-- offcanvas overlay start -->
{#    {% include 'Frontend/components/Main/offcanvas.html'%}#}
    <!-- OffCanvas Menu End -->

    <!--    block EXTEND PAGE-->
    {% block content %}
    {% endblock %}
    <!--    block EXTEND PAGE END-->

    <!-- Footer Area Start -->
    {% include 'Frontend/components/common/footerarea.html' %}
    <!-- Footer Area End -->
</div>
{%endblock%}