{% load static %}
<!-- Modal view Item -->
<div class="modal modal-2 fade" id="exampleModal" role="dialog" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><i
                        class="pe-7s-close"></i></button>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                        <!-- Swiper -->
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/zoom-image/1.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/zoom-image/2.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/zoom-image/3.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/zoom-image/4.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/zoom-image/5.webp' %}">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/small-image/1.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/small-image/2.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/small-image/3.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/small-image/4.webp' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img alt=""
                                         class="img-responsive m-auto" src="{% static 'images/product-image/small-image/5.webp' %}">
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-buttons">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-details-content quickview-content">
                            <h2>Modern Smart Phone</h2>
                            <div class="pricing-meta">
                                <ul class="d-flex">
                                    <li class="new-price">$20.90</li>
                                </ul>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="rating-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                            </div>
                            <p class="mt-30px">Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmll
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mill veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip exet commodo consequat. Duis aute irure
                                dolor</p>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>SKU:</span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">Ch-256xl</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Categories: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">Smart Device, </a>
                                    </li>
                                    <li>
                                        <a href="#">ETC</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Tags: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">Smart Device, </a>
                                    </li>
                                    <li>
                                        <a href="#">Phone</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" name="qtybutton" type="text" value="1"/>
                                </div>
                                <div class="pro-details-cart">
                                    <button class="add-cart"> Add To
                                        Cart
                                    </button>
                                </div>
                                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                    <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                            </div>
                            <div class="payment-img">
                                <a href="#"><img alt="" src="{% static 'images/icons/payment.png' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal view Item END-->

<!-- Modal Cart -->
<div aria-hidden="true" class="modal customize-class fade" id="exampleModal-Cart" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><i
                        class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Added to cart successfully!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img alt="Modern Smart Phone" src="{% static 'images/product-image/1.webp' %}">
                    </div>
                    <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cart END-->

<!-- Modal wishlist -->
<div aria-hidden="true" class="modal customize-class fade" id="exampleModal-Wishlist" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><i
                        class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Added to Wishlist successfully!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img alt="Modern Smart Phone" src="{% static 'images/product-image/1.webp' %}">
                    </div>
                    <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal wishlist END-->

<!-- Modal compare -->
<div aria-hidden="true" class="modal customize-class fade" id="exampleModal-Compare" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><i
                        class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Added to compare successfully!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img alt="Modern Smart Phone" src="{% static 'images/product-image/1.webp' %}">
                    </div>
                    <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal compare END -->