{% extends 'Frontend/components/Main/mainwrapper.html' %}

{% block title %}EKART-shopping  {% endblock %}

{% block content %}

<!-- Hero/Intro Slider Start -->
{% include 'Frontend/components/home/introslider_index.html'%}
<!-- Hero/Intro Slider End -->

<!-- Banner Area Start -->
{% include 'Frontend/components/home/bannerarea_index.html'%}
<!-- Banner Area End -->

<!-- Product Area Start -->
{% include 'Frontend/components/home/product_index.html'%}
<!-- Product Area End -->

<!-- Banner  Start -->
{% include 'Frontend/components/home/banner_index.html'%}
<!-- Banner  End -->

<!-- Feature product area start -->
{% include 'Frontend/components/home/featureprod_index.html'%}
<!-- Feature product area End -->

<!-- Fashion Area Start -->
{% include 'Frontend/components/home/Fashion_index.html'%}
<!-- Fashion Area End -->

<!-- Feature Area Srart -->
{% include 'Frontend/components/home/featurearea_index.html'%}
<!-- Feature Area End -->

{% endblock %}
