{% extends 'Frontend/components/Main/mainwrapper.html' %}

{% block title %} Login Page{% endblock %}

{% block content %}
<!-- login area start -->
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4>login</h4>
                        </a>
                        <a data-bs-toggle="tab" href="#lg2">
                            <h4>register</h4>
                        </a>
                    </div>
                    <!--RegisterForm-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="lg1">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form  method="post">
                                        {% csrf_token %}
                                        <input name="user-email" placeholder="email" type="Email"/>
                                        <input name="user-password" placeholder="Password" type="password"/>
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox"/>
                                                <a class="flote-none" href="javascript:void(0)">Remember me</a>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit" name="login"><span>Login</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--RegisterForm END-->
                        <!--LoginForm-->
                        <div class="tab-pane" id="lg2">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div id="error"></div>
                                        <input name="user-name" id="username" placeholder="Username" type="text" required/>
                                        <input name="user-firstname" placeholder="First Name" type="text" required/>
                                        <input name="user-lastname" placeholder="Last Name" type="text" required/>
                                        <input name="user-password" placeholder="Password" type="password" required/>
                                        <input name="user-email" id="email" placeholder="Email" type="email" required/>
                                        <div class="button-box">
                                            <button id="registerbtn" name="signup" type="submit"><span>Register</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- login area end -->
{% endblock %}
