<!-- navbar -->
<ul>
  {% for category in categorylist %}
  <li><a href="?cat={{category.categoryName}}">{{category.categoryName}}</a>
    <ul>
      {% for sub in category.subcategories%}
      <li><a href="?cat={{sub.subcatgName}}">{{sub.subcatgName}}</a></li>
      {%endfor%}
    </ul>
  </li>
  {% endfor %}
</ul>

<!-- product list -->
{% if products %}
  <ul>
    {% for product in products %}
      <li>
        <h3>{{ product.item }}</h3>
        <img src="{{ product.image }}" alt="{{ product.item }}">
        <p>Price: {{ product.price }}</p>
        <p>Quantity: {{ product.quantity }}</p>
        <p>Category: {{ product.subCategory.subcatgName }}</p>
        <p>Description: {% autoescape off %}{{product.product.description }}{% endautoescape %}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No products found.</p>
{% endif %}