{% load static %}
<!-- Products Area Start -->
<div class="shop-bottom-area">
    <!-- Tab Content Area Start -->
    <div class="row">
        <div class="col">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="shop-grid">
                    <div class="row mb-n-30px">
                        {% for product in products%}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px">
                            <!-- Single Prodect -->
                            <div class="product">
                                                        <span class="badges">
                                                        <span class="new">New</span>
                                                        </span>
                                <div class="thumb">
                                    <a class="image" href="/product/item/{{product.id}}/">
                                        <img class="product-thumb" alt="Product" src="{{product.image}}"/>
                                        <img alt="Product"
                                             class="hover-image product-thumb"
                                             src="{{product.image}}"/>
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="category"><a href="/product/item/{{product.id}}/">{{product.category.categoryName}}</a></span>
                                    <h5 class="title"><a href="single-product.html">{{product.productdetail.about}}
                                    </a>
                                    </h5>
                                    <span class="price">
                                                            <span class="new">RS {{product.price}}</span>
                                                            </span>
                                </div>
                                <div class="actions">
                                    <button class="action add-to-cart"
                                            data-bs-target="#exampleModal-Cart"
                                            data-bs-toggle="modal" title="Add To Cart">
                                        <i
                                                class="pe-7s-shopbag"></i></button>
                                    <button class="action wishlist"
                                            data-bs-target="#exampleModal-Wishlist"
                                            data-bs-toggle="modal"
                                            title="Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="action quickview" data-bs-target="#exampleModal"
                                            data-bs-toggle="modal" data-link-action="quickview"
                                            title="Quick view"><i class="pe-7s-look"></i>
                                    </button>
                                    <button class="action compare"
                                            data-bs-target="#exampleModal-Compare"
                                            data-bs-toggle="modal"
                                            title="Compare"><i
                                            class="pe-7s-refresh-2"></i></button>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
                <div class="tab-pane fade mb-n-30px" id="shop-list">
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/1.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/1.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="new">New</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Modern Smart
                                            Phone</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/2.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/2.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                <span class="new">New</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Bluetooth
                                            Headphone </a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/3.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/3.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="new">Sale</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Smart Music
                                            Box</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/4.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/4.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="new">New</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Air Pods 25Hjkl
                                            Black</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/5.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/6.webp"/>
                                        </a>
                                        <span class="badges">
                                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Smart Hand
                                            Watch</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/7.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/7.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Smart Table
                                            Camera</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/8.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/8.webp"/>
                                        </a>
                                        <span class="badges">
                                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Round Pocket
                                            Router</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/1.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/1.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Power Bank
                                            10000Mhp</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/2.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/1.webp"/>
                                        </a>
                                        <span class="badges">
                                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Power Bank
                                            10000Mhp</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$58.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/3.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/3.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="new">New</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Modern Smart
                                            Phone</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/4.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/5.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="new">Sale</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Bluetooth
                                            Headphone </a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-wrapper mb-30px">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                <div class="product">
                                    <div class="thumb">
                                        <a class="image" href="single-product.html">
                                            <img alt="Product"
                                                 src="assets/images/product-image/6.webp"/>
                                            <img alt="Product"
                                                 class="hover-image"
                                                 src="assets/images/product-image/7.webp"/>
                                        </a>
                                        <span class="badges">
                                                                <span class="sale">-10%</span>
                                                                <span class="new">New</span>
                                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 col-xl-8">
                                <div class="content-desc-wrap">
                                    <div class="content">
                                        <span class="category"><a href="#">Accessories</a></span>
                                        <h5 class="title"><a href="single-product.html">Smart Music
                                            Box</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmodol tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veni quis nostrud
                                            exercitation ullamco laboris </p>
                                    </div>
                                    <div class="box-inner">
                                                                <span class="price">
                                                                <span class="old">$48.50</span>
                                                                <span class="new">$38.50</span>
                                                                </span>
                                        <div class="actions">
                                            <button class="action add-to-cart"
                                                    data-bs-target="#exampleModal-Cart"
                                                    data-bs-toggle="modal"
                                                    title="Add To Cart"><i
                                                    class="pe-7s-shopbag"></i></button>
                                            <button class="action wishlist"
                                                    data-bs-target="#exampleModal-Wishlist"
                                                    data-bs-toggle="modal"
                                                    title="Wishlist"><i
                                                    class="pe-7s-like"></i></button>
                                            <button class="action quickview"
                                                    data-bs-target="#exampleModal"
                                                    data-bs-toggle="modal"
                                                    data-link-action="quickview"
                                                    title="Quick view"><i
                                                    class="pe-7s-look"></i></button>
                                            <button class="action compare"
                                                    data-bs-target="#exampleModal-Compare"
                                                    data-bs-toggle="modal"
                                                    title="Compare"><i
                                                    class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab Content Area End -->

    <!--  Pagination Area Start -->
    <div class="pro-pagination-style text-center text-lg-end" data-aos="fade-up" data-aos-delay="200">
        <div class="pages">
            <ul>
                <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="li"><a class="page-link" href="#">1</a></li>
                <li class="li"><a class="page-link active" href="#">2</a></li>
                <li class="li"><a class="page-link" href="#">3</a></li>
                <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--  Pagination Area End -->

</div>
<!-- Products Area End -->