{% load static %}
<!-- Products Area Start -->
<div class="shop-bottom-area">
    <!-- Tab Content Area Start -->
    <div class="row">
        <div class="col">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="shop-grid">
                    <div class="row mb-n-30px">
                        {% for product in products %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                <!-- Single Prodect -->
                                <div class="product">
                                    <span class="badges">
                                        <span class="new">New</span>
                                    </span>
                                    <div class="thumb">
                                        <a class="image" href="/product/item/{{ product.id }}/">
                                            <img class="product-thumb" alt="Product"
                                                 src="{{ product.image }}"/>
                                            <img alt="Product"
                                                 class="hover-image product-thumb"
                                                 src="{{ product.image }}"/>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h1 class="title mt-3"><a
                                                href="/product/item/{{ product.id }}/">{{ product.item }}</a>
                                        </h1>
                                        <span class="category "><a
                                                href="/product/item/{{ product.id }}/">{{ product.item }}</a></span>
                                        <h5 class="title"><a
                                                href="single-product.html">{{ product.productdetail.about }}
                                        </a>
                                        </h5>
                                        <span class="price">
                                            <span class="new">RS {{ product.price }}</span>
                                        </span>
                                    </div>
                                    <div class="actions">

                                            <a href="/product/item/{{ product.id }}/" class="action add-to-cart">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i></a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Tab Content Area End -->

    <!--  Pagination Area Start -->
    <div class="pro-pagination-style text-center text-lg-end" data-aos="fade-up"
         data-aos-delay="200">
        <div class="pages">
            <ul>
                <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="li"><a class="page-link" href="#">1</a></li>
                <li class="li"><a class="page-link active" href="#">2</a></li>
                <li class="li"><a class="page-link" href="#">3</a></li>
                <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--  Pagination Area End -->

</div>
<!-- Products Area End -->