{% load static %}
<!-- Shop Page Start  -->
<div class="shop-category-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-last col-md-12 order-md-first">

                <!-- Shop Top Area Start -->
                {% include './topbar.html'%}
                <!-- Shop Top Area End -->

                <!-- Products Area Start -->
                {% include './products_content.html' %}
                <!-- Products Area End -->

            </div>
            <!-- Sidebar Area Start -->
            {% include './sidebar_products.html'%}
            <!-- Sidebar Area End -->

        </div>
    </div>
</div>
<!-- Shop Page End  -->