{% load static %}
<!-- Shop Top Area Start -->
<div class="shop-top-bar d-flex">
    <!--sidebar and topbar-->
    <p class="compare-product"><span>12</span> Product Found of <span>30</span></p>
    <!-- Left Side End -->
    <div class="shop-tab nav">
        <button class="active" data-bs-target="#shop-grid" data-bs-toggle="tab">
            <i aria-hidden="true" class="fa fa-th"></i>
        </button>
        <button data-bs-target="#shop-list" data-bs-toggle="tab">
            <i aria-hidden="true" class="fa fa-list"></i>
        </button>
    </div>
    <!-- Right Side Start -->
    <div class="select-shoing-wrap d-flex align-items-center">
        <div class="shot-product">
            <p>Sort By:</p>
        </div>
        <!-- Single Wedge End -->
        <div class="header-bottom-set dropdown">
            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown">Default <i
                    class="fa fa-angle-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="#">Name, A to Z</a></li>
                <li><a class="dropdown-item" href="#">Name, Z to A</a></li>
                <li><a class="dropdown-item" href="#">Price, low to high</a></li>
                <li><a class="dropdown-item" href="#">Price, high to low</a></li>
                <li><a class="dropdown-item" href="#">Sort By new</a></li>
                <li><a class="dropdown-item" href="#">Sort By old</a></li>
            </ul>
        </div>
        <!-- Single Wedge Start -->
    </div>
    <!-- Right Side End -->
    <!--sidebar and topbar End-->
</div>
<!-- Shop Top Area End -->