{% load static %}
<!-- Cart Area Start -->
<div class="cart-main-area pt-100px pb-100px">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <div class="table-responsive">
                            <table class="table table-hover text-center mb-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cartitem in cart_items.items %}

                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="/product/item/{{ cartitem.product.id }}/"><img
                                                    id="cartimgthumb"
                                                    src="{{ cartitem.product.image }}"/></a>
                                        </td>
                                        <td class="product-name">
                                            <div class="productdata">
                                                <a href="/product/item/{{ cartitem.product.id }}/"
                                                 >{{ cartitem.product.item }}</a>
                                                <br>
                                                <p style="align-items: left;">Qty:
                                                    <strong>{{ cartitem.quantity }}</strong></p>
                                            </div>
                                        </td>
                                        <td class="product-price-cart"><span
                                                class="amount">${{ cartitem.product.price }}</span>
                                        </td>
                                        <td class="product-subtotal">${{ cartitem.itemtotal }}</td>
                                        <td class="product-remove">
                                            <a href="{% url 'itmdeletecart' item_id=cartitem.product.id %}"><i
                                                    class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="{% url 'frontendproducts' %}">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <a href="{% url 'deltecart' %}">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-lm-30px">
                            <div class="cart-tax">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gray">Shipping
                                        Address</h4>
                                </div>
                                <div class="tax-wrapper">
                                    <p>Enter your Shipping Address Here.</p>
                                    <div class="tax-select-wrapper">
                                        <div class="tax-select">
                                            <label>
                                                * Country
                                            </label>
                                            <select name="country" class="email s-email s-wid">
                                                <option selected>India</option>
                                                <option>Albania</option>
                                                <option>Åland Islands</option>
                                                <option>Afghanistan</option>
                                                <option>Belgium</option>
                                            </select>
                                        </div>
                                        <div class="tax-select">
                                            <label>
                                                * Region / State
                                            </label>
                                            <select name="region" class="email s-email s-wid">
                                                <option selected>Assam</option>
                                                <option>Albania</option>
                                                <option>Åland Islands</option>
                                                <option>Afghanistan</option>
                                                <option>Belgium</option>
                                            </select>
                                        </div>
                                        <div class="tax-select mb-25px">
                                            <label>
                                                * Zip/Postal Code
                                            </label>
                                            <input name="zip" type="text"/>
                                        </div>
                                        <div class="tax-select mb-25px">
                                            <label>Address 1</label>
                                            <input name="address1" placeholder="Address 1"
                                                   type="text"/>
                                        </div>
                                        <div class="tax-select mb-25px">
                                            <label>Address 2</label>
                                            <input name="address2" placeholder="Address 2"
                                                   type="text"/>
                                        </div>
                                        <div class="tax-select mb-25px">
                                            <label>landmark </label>
                                            <input name="landmark" type="text"/>
                                        </div>
                                        <div class="tax-select mb-25px">
                                            <label>Phone </label>
                                            <input name="phone" type="number"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart
                                        Total</h4>
                                </div>
                                <h5>Total products <span>${{ cart_items.GrandTotal }}</span></h5>
                                <h4 class="grand-totall-title">Grand Total
                                    <span>${{ cart_items.GrandTotal }}</span></h4>
                                <input type="submit" class="btn btn-primary">Proceed to
                                Checkout</input>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Cart Area End -->