{% extends 'seller/common.html' %}
{% block title %} Dashbaord {% endblock %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <script>console.log({{nameis}});</script>
        <h1 class="h3 mb-3">Dashbaord Page</h1>

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h3>total Products</h3>
                        <h1>{{prodCount}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h3>total Category</h3>
                        <h1>{{catCount}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h3>total Subcategory</h3>
                        <h1>{{subCatCount}}</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}

