{% load static %}
<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                            <a class="venobox full-preview" data-gall="myGallery"
                               href="{{product.image}}">
                                <i aria-hidden="true" class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                            <a class="venobox full-preview" data-gall="myGallery"
                               href="{{product.image}}">
                                <i aria-hidden="true" class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                            <a class="venobox full-preview" data-gall="myGallery"
                               href="{{product.image}}">
                                <i aria-hidden="true" class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                            <a class="venobox full-preview" data-gall="myGallery"
                               href="{{product.image}}">
                                <i aria-hidden="true" class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                            <a class="venobox full-preview" data-gall="myGallery"
                               href="{{product.image}}">
                                <i aria-hidden="true" class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-container mt-20px zoom-thumbs slider-nav-style-1 small-nav">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-responsive m-auto"
                                 src="{{product.image}}">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content ml-25px">
                    <h2>{{product.item}}</h2>
                    <div class="pricing-meta">
                        <ul class="d-flex">
                            <li class="new-price" style="color: red;">RS {{product.price}}</li>
                        </ul>
                    </div>
                    <p class="mt-30px">
                        {% autoescape off %}
                        {{product.productdetail.about}}
                        {% endautoescape %}
                    </p>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>SKU:</span>
                        <ul class="d-flex">
                            <li>
                                <a href="#">{{product.productdetail.SKU}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>Categories: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#">{{product.category.categoryName}}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>Tags: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#">{{product.subCategory.subcatgName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" name="qtybutton" type="text" value="1"/>
                        </div>
                        <div class="pro-details-cart">
                            <button class="add-cart"> Add To Cart
                            </button>
                        </div>

                    </div>
                </div>
                <!-- product details description area start -->
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav">

                        <button class="active" data-bs-target="#des-details1" data-bs-toggle="tab">Description</button>

                    </div>
                    <div class="tab-content description-review-bottom">

                        <div class="tab-pane active" id="des-details1">
                            <div class="product-description-wrapper">
                                <div>
                                {% autoescape off %}
                                {{product.productdetail.about}}
                                {% endautoescape %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- product details description area end -->
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area Start -->