
a.butbtnprodindex{
    appearance: button;
    display: flex;
    align-items: center;
    background-color: #266bf9;
    justify-content: center;
    color: #fff;
    width: 125px;
    height: 40px;
    border-radius: 12px;
    font-weight: 300;
    letter-spacing: 1.2px;
}

a.butbtnprodindex:hover{
 background-color: #black;
 letter-spacing: 5px;
 font-weight: 600;
}

.product-thumb{
 max-height: 270px ;
 object-fit: contain;
 height: auto ;
 text-align: center ;
}

#cartimgthumb
{
 max-height: 170px ;
 object-fit: contain;
 height: auto ;
 text-align: center ;
}